<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="ES WP Query">
			<directory suffix=".php">./tests/query/</directory>
		</testsuite>
	</testsuites>
  <coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory suffix=".php">./tests/</directory>
      <directory suffix=".php">./bin/</directory>
      <directory suffix=".php">./adapters/</directory>
    </exclude>
	</coverage>
</phpunit>
